  <div class="post-show">
    <div class="post-box">

      <h3 class="name">
        <%= @post.title %>
      </h3>
      
      <div class='user-name'>
      <%= link_to "by #{@post.user.nickname}", user_path(@post.user.id), class: "name_user" %>
      </div>

            <%# 編集と削除(投稿ユーザーのみ) %>
      <% if current_user == @post.user%>
        <div class="btn">
          <%= link_to "編集する", edit_map_post_path(@city, @post), class: "post-btn" %>
          <%= link_to "削除する", map_post_path(@city, @post), method: :delete, class:'post-destroy' %>
        </div>
      <% end %>

      <div class="post-img-content">
        <%= image_tag @post.image %>
      </div>

      <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">写真について</th>
          <td class="detail-value"><%= @post.about %></td>
        </tr>
        <tr>
          <th class="detail-post">撮影日</th>
          <td class="detail-value"><%= @post.day %></td>
        </tr>
        <tr>
          <th class="detail-post">町名</th>
          <td class="detail-value"><%= @post.town %></td>
        </tr>
        <tr>
          <th class="detail-post">番地</th>
          <td class="detail-value"><%= @post.number %></td>
        </tr>
        <tr>
          <th class="detail-post">建物名</th>
          <td class="detail-value"><%= @post.building %></td>
        </tr>
      </tbody>
    </table>

      <%# コメント %>
      <div class="post__comments">

        <% if user_signed_in? %>
          <%= form_with model: [@post, @comment],url: map_post_comments_path(@city, @post), local: true do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>

        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.text%>
              <%= link_to "（#{comment.user.nickname}）", user_path(comment.user), class: :comment_user %>
            </li>
          <% end %>
        </ul>

      </div>

        
    </div>
  </div>