<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">

      <p class="prototype__hedding">
        <%= @post.title %>
      </p>
      
      <%= link_to "by #{@post.user.nickname}", class: :prototype__user %>
      <% if current_user == @post.user%>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_map_post_path(@city, @post), class: :prototype__btn %>
          <%= link_to "削除する", map_post_path(@city, @post), method: :delete, class: :prototype__btn %>
        </div>
      <% end %>

      <div class="prototype__image">
        <%= image_tag @post.image %>
      </div>

      <div class="prototype__body">

        <div class="prototype__detail">
          <p class="detail__title">詳細</p>
          <p class="detail__message">
            <%= @post.about %>
          </p>
        </div>

        <div class="prototype__detail">
          <p class="detail__title">撮影日</p>
          <p class="detail__message">
            <%= @post.day %>
          </p>
        </div>

        <div class="prototype__detail">
          <p class="detail__title">town</p>
          <p class="detail__message">
            <%= @post.town %>
          </p>
        </div>

        <div class="prototype__detail">
          <p class="detail__title">詳細</p>
          <p class="detail__message">
            <%= @post.number %>
          </p>
        </div>

        <div class="prototype__detail">
          <p class="detail__title">詳細</p>
          <p class="detail__message">
            <%= @post.building %>
          </p>
        </div>

      </div>

      <div class="prototype__comments">

        <% if user_signed_in? %>
          <%= form_with model: [@post, @comment],url: map_post_comments_path(@city, @post), local: true do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>

        <ul class="comments_lists">
          <%# @comments.each do |comment| %>
            <li class="comments_list">
              <%# comment.text%>
              <%# link_to "（#{comment.user.name}）", user_path(comment.user), class: :comment_user %>
            </li>
          <%# end %>
        </ul>

      </div>

        
    </div>
  </div>
</main>
